.content h1 {
  font-size: 100px;
  font-weight: 900;
  line-height: 1.05;
  letter-spacing: -1.5px;

  /* GRADIENT ANIMASI */
  background: linear-gradient(
    90deg,
    #00cfff,
    #6a6cff,
    #ff00cc,
    #00cfff
  );
  background-size: 300%;

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 6s linear infinite;

  /* GLOW HALUS */
  text-shadow: 
    0 0 10px rgba(0, 207, 255, 0.3),
    0 0 20px rgba(255, 0, 204, 0.2);
}

/* ANIMASI GRADIENT */
@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}
