* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* BACKGROUND */
body {
  height: 100vh;
  background: #f8f8f8;
  overflow: hidden;
  position: relative;
}

/* GLOW BACKGROUND */
body::before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #ff00cc, transparent);
  filter: blur(120px);
}

body::after {
  content: "";
  position: absolute;
  right: -100px;
  top: 100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #00cfff, transparent);
  filter: blur(120px);
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 80px;
  align-items: center;
  position: relative;
  z-index: 2;
}

.logo img {
  height: 150px;
}

/* MENU */
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

nav ul li {
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

/* CONTACT BUTTON */
.contact {
  background: linear-gradient(45deg, #00cfff, #ff00cc);
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  height: 85vh;
  padding: 0 80px;
  position: relative;
  z-index: 2;
}

.content {
  max-width: 900px;
}

/* TITLE */
.content h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 1.1;

  background: linear-gradient(90deg, #00cfff, #7b5cff, #ff00cc);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* DESCRIPTION */
.content p {
  margin-top: 25px;
  font-size: 18px;
  color: #555;
  max-width: 600px;
}

/* BUTTON */
.btn-group {
  margin-top: 35px;
  display: flex;
  gap: 20px;
}

.btn1 {
  background: linear-gradient(45deg, #00cfff, #ff00cc);
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* OUTLINE BUTTON */
.btn2 {
  background: transparent;
  border: 2px solid transparent;
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;

  background-image: linear-gradient(#fff, #fff),
                    linear-gradient(45deg, #00cfff, #ff00cc);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
